@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>
<br />
<br />
<br />


<address>
    Porvoon Kirjakeskus Oy<br />
    Teollisuustie 4, 06150 Porvoo<br />

    <abbr title="Phone">Puh:</abbr>
    020 166 22222
</address>

<address>
    <strong>Sähköposti:</strong>   <a href="mailto:info@kirjakeskus.fi">info@kirjakeskus.fi</a><br />

</address>