@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STGchannel</h1>
    <p class="lead">Tervetuloa!</p>
    @*<p><a href="Account/Login" class="btn btn-primary btn-lg">Kirjaudu sisään &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           Näytevalikoimaan pääset tästä
        </p>
        <p><a class="btn btn-default" href="/NV/Index">Klikkaa tästä &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Logistiikka-asiakkaiden sivustolle pääset tästä</p>
        <p><a class="btn btn-default" href="/Logistiikka/Index">Klikkaa tästä &raquo;</a></p>
    </div>
  
</div>