
@{
    ViewBag.Title = "AddPO";
}
<!DOCTYPE html>
<html>
<head>

    <title>Lisää PO-numero</title>
</head>
<body>
    <div class="container-fluid">
      
            <div class="form-group">
                <div class="center">
                    <button class="button" id="btnPO" type="submit">Luo uusi PO</button>
                    <input id="txtPO1" value="" />
                    <div>
                        <label>Asiakkaan oma tilausviite</label>
                        <input id="ref" value=""  />
                    </div>
                    <table>
                        <tr>
                            <td>
                                <table id="tblPO">
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input id="btnAdd" class="button" type="button" value="Lisää tuote" />
                        <input class="button" type="button" id="btnSave" value="Tallenna" />
                    </div>
                </div>
            </div>
    </div>
    <div id="outputTable">
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            //käyttäjätunnus
            var user = @HttpContext.Current.User.Identity.Name;

            //Päivämääräfunktio
            function getDate() {
                var d = new Date();
                var month = d.getMonth() + 1;
                var day = d.getDate();
                var year = d.getFullYear();
                return date = year + '/' +
                    (('' + month).length < 2 ? '0' : '') + month + '/' +
                    (('' + day).length < 2 ? '0' : '') + day;
            }
               //PO-numero kentät
               var $table = $("#tblPO");
               var $tr = $("<tr>");

               $("#txtPO1").change(function () {
                     $("#txtPO").val($('#txtPO1').val());
               });
             $("#ref").change(function () {
                     $("#txtref").val($('#ref').val());
                });

               // PO-numero
                var $td = $("<td hidden>").text("PO-numero");
                $tr.append($td);
                $td = $("<td hidden>");
                var $textbox = $("<input>").attr("id", "txtPO").attr("type", "text").attr("value", ($('#txtPO1').val()));
                $td.append($textbox);
                $tr.append($td)
                 //viite
                var $td = $("<td hidden>").text("Viite");
                $tr.append($td);
                $td = $("<td hidden>");
                var $textbox = $("<input>").attr("id", "txtref").attr("type", "text").attr("value", ($('#ref').val()));
                $td.append($textbox);
                $tr.append($td)

                //Ean
                var $td = $("<td>").text("EAN ");
                $tr.append($td);
                td = $("<td>");
                var $textbox = $("<input>").attr("id", "txtEAN").attr("type", "text");
                $td.append($textbox);
                $tr.append($td);

                //Määrä
                var $td = $("<td>").text("Määrä ");
                $tr.append($td);
                td = $("<td>");
                var $textbox = $("<input>").attr("id", "txtAmount").attr("type", "text");
                $td.append($textbox);
                $tr.append($td);

                //Poistonappula
                $td = $("<td>");
                var $button = $("<button>").attr("class", "button").text("Poista");
                $td.append($button);
                $tr.append($td);

                //rivien lisäys tauluun
                $table.append($tr);

                //Rivin poisto
                $button.click(function () {
                    $button.closest("tr").remove();
                })


            $('#btnPO').click(function () {

                var cpo = {};
                cpo.foretagkod = 3000;
                console.log(cpo);
                JSON.stringify(cpo);
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Logistiikka/AddPOnum',
                    data:  JSON.stringify(cpo),
                    dataType: "json",
                    //async: true,
                    success: function (result) {
                        $("#txtPO1").val(result);
                        $("#txtPO").val(result);
                        console.log(result);

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                       console.log(jqXHR.responseText);
                    }
                });
            });

            //Rivin lisäys nappia painaessa
            $("#btnAdd").click(function () {
                var $table = $("#tblPO");
                var $tr = $("<tr>");

                //PO-numero
                var $td = $("<td hidden>").text("PO-numero");
                $tr.append($td);
                $td = $("<td hidden>");
                var $textbox = $("<input>").attr("id", "txtPO").attr("type", "text").attr("value", ($('#txtPO1').val()));
                $td.append($textbox);
                $tr.append($td)
                //viite
                var $td = $("<td hidden>").text("Viite");
                $tr.append($td);
                $td = $("<td hidden>");
                var $textbox = $("<input>").attr("id", "txtref").attr("type", "text").attr("value", ($('#ref').val()));
                $td.append($textbox);
                $tr.append($td)
                //Ean
                var $td = $("<td>").text("EAN ");
                $tr.append($td);
                td = $("<td>");
                var $textbox = $("<input>").attr("id", "txtEAN").attr("type", "text");
                $td.append($textbox);
                $tr.append($td);

                //Määrä
                var $td = $("<td>").text("Määrä ");
                $tr.append($td);
                td = $("<td>");
                var $textbox = $("<input>").attr("id", "txtAmount").attr("type", "text");
                $td.append($textbox);
                $tr.append($td);

                //Poistonappula
                $td = $("<td>");
                 var $button = $("<button>").attr("class", "button").text("Poista");
                $td.append($button);
                $tr.append($td);

                //rivien lisäys tauluun
                $table.append($tr);

                //Rivin poisto
                $button.click(function () {
                    $button.closest("tr").remove();
                })

             });
            //Tallenna rivit
            $('#btnSave').click(function () {
                var div = $("#outputTable");
                let lineNo = 1; //rivinumero

                //Luuppaa läpi rivien
                $("#tblPO tr").each(function () {

                    var po = $(this).find("#txtPO").val();
                    var ref = $(this).find("#txtref").val();
                    var EAN = $(this).find("#txtEAN").val();
                    var Amount = $(this).find("#txtAmount").val();
                    //Lisää rivit sivulle #outputTable -tauluun
                    div.append(lineNo + ". PO: " + po + ", Viite: " + ref +", EAN: " + EAN + ", Määrä: " + Amount);
                    div.append("<br>");

                    //luo muuttuja ajax-tallennusta varten
                    var bhform = {
                        foretagkod: 3000,
                        q_MessageNumber: '100',
                        Bestnr: po,
                        RowCreatedDt: getDate(),
                        levordernr: ref,
                    }
                      //luo muuttuja ajax-tallennusta varten
                    var bpform = {
                       foretagkod: 3000,
                       q_MessageNumber: '100',
                       Bestnr: po,
                       Artnr: EAN,
                       BestAnt: Amount,
                       q_PartyID_Identifier: user,
                       RowCreatedDt: getDate(),
                       BestRadNr: lineNo++,   //juokseva rivinumero / PO
                    }
                    //Tallenna tietokantaan q_import_bh
                    $.ajax({
                         type: 'post',
                         url: '/api/q_import_bh',
                         data: bhform,
                           success: function () {
                             console.log('Tiedot tallennettu BH');
                           },
                        error: function (jqXHR) {

                            console.log('Virhe. Tietoja ei tallennettu tauluun BH!');
                            console.log(jqXHR.responseText);
                           }
                     });
                    //Tallenna tietokantaan q_import_bp
                    $.ajax({
                       method: 'post',
                       url: '/api/q_import_bp',
                       data: bpform,
                       success: function () {
                         console.log('Tiedot tallennettu BP');
                           $("#tblPO").empty();
                           $("#txtPO1").val('');
                        },
                        error: function (jqXHR) {
                            console.log('Virhe. Tietoja ei tallennettu tauluun BP!');
                            console.log(jqXHR.responseText);
                        }
                    });
                });
             });
        });


    </script>
}