
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>STGchannel</h1>
    <p class="lead">Logistiikka-asiakkaiden sivusto</p>
    @*<p><a href="Account/Login" class="btn btn-primary btn-lg">Kirjaudu sisään &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            Lisää PO-numero vastaanotettavia tuotteita varten tästä
        </p>
        <p><a class="btn btn-default" href="/Logistiikka/AddPO">Klikkaa tästä &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Tästä pääset johonkin joka ei vielä ole valmis</p>
        <p><a class="btn btn-default" href="/Logistiikka/Index">Klikkaa tästä &raquo;</a></p>
    </div>

</div>
