@using (Html.BeginForm())
{
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="container-fluid">
                    <h3>Tilaushistoria / Orderhistorik</h3>
                    <table class="table" id="selection_table">
                        <thead>
                            <tr>
                                <th hidden>OrderID</th>
                                <th>Tilauspvm / Orderdatum <span class="fa fa-sort"></span></th>
                                <th>ISBN <span class="fa fa-sort"></span></th>
                                <th>Tekijä / Författare <span class="fa fa-sort"></span></th>
                                <th>Nimi / Titel <span class="fa fa-sort"></span></th>
                                <th>Kustantaja / Förlag <span class="fa fa-sort"></span></th>
                                <th>Hinta / Pris (alv 0%) <span class="fa fa-sort"></span></th>
                                <th>Kausi / Säsong <span class="fa fa-sort"></span></th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <div class="container">
                        <div class="row col-md-8" id="loading"><h2>Lataa tietoja, odota hetki</h2></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet" />

    <script>
        $(document).ajaxStart(function () {
            $("#loading").show();
        }).ajaxStop(function () {
            $("#loading").hide('slow');
        });

        //sivun alustus
        $(document).ready(function () {
            //$('#selection_table').freezeHeader();

            var selection = $('#selection');
             var cartuser = @HttpContext.Current.User.Identity.Name;


            // ostoskorin tiedot
            $.ajax({
                type: 'GET',
                url: '/api/CartsAPI',
                dataType: 'json',
            }).then(function (data) {
                let counter = 0;
                $.each(data, function (index, val) {
                    if (val.CompanyID == cartuser && val.IsInCart == true) {
                        counter = counter + 1;
                    }
                });
                $('#cartsum').append(counter);

            })

            //haetaan ostoskorin tiedot CompanyID:n perusteella
            $.ajax({
                type: 'GET',
                url: '/api/CartsAPI',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, val) {
                        if (val.CompanyID == cartuser && val.IsInCart == false) {
                            //luodaan taulukko, johon arvot tuodaan halutuista sarakkeista
                            selection +=
                                '<tr >' +
                                "<td hidden>" + val.OrderID + "</td>" +
                                "<td>" + val.Orderdate + "</td>" +
                                "<td>" + val.ISBN + "</td>" +
                                "<td>" + val.Author + "</td>" +
                                "<td>" + val.BookName + "</td>" +
                                "<td>" + val.Publisher + "</td>" +
                            "<td id='price'>" + val.Price + "€ </td>" +
                            "<td>" + val.Reference + "</td>" +

                                '</tr>';
                        }

                    });
                    //näytetään taulukko sivulla
                    $('#selection_table').append(selection);
                }
            });
            //etsi-toiminto
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr").each(function (index) {
                    if (index !== 0) {
                        $row = $(this);

                        $row.find('td').each(function () {
                            var id = $(this).text().toLowerCase();
                            if (id.indexOf(value) !== 0) {
                                $row.hide();
                            }
                            else {
                                $row.show();
                                return false;
                            }
                        });

                    }
                });
            });

            //taulun sorttaus
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('#selection_table')
                Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr));
            })));
        });


    </script>


}