<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="container">
                <h2>Sivuston käyttöohje</h2>
                <h4>
                    Kirjaudu sisään saamillasi tunnuksilla osoitteessa www.stgchannel.fi. Käytä Google Chrome-, Microsoft Edge- tai Firefox-selainta. Sivusto ei tue Internet Explorer-selainta.
                    <br />
                    <br />
                    Etusivulla on suomenkielinen valikoima. Voit vaihtaa ruotsinkieliseen valikoimaan navigointipaneelista.
                    <br />
                    <br />
                    Valitse haluamasi tuotteet klikkaamalla ostoskorin kuvaa. Voit valita jokaisen tuotteen vain kerran.
                    <br />
                    <br />
                    Voit poistaa tuotteita ostoskorista klikkaamalla tuotteen kohdalla roskakoria.
                    <br />
                    <br />
                    Kun olet valinnut kaikki haluamasi tuotteet ostoskoriin, paina Lähetä tilaus -painiketta.
                    <br />
                    <br />
                    Näet tilatut tuotteet tilaushistoriassa kun olet lähettänyt tilauksen.
                    <br />
                    <br />
                    Ongelmatilanteessa ota yhteyttä tilaukset@kirjakeskus.fi
                    <br />
                    <br />
                    <br />
                </h4>
                <h2>Instruktioner för användare</h2>
                <h4>
                    Logga in med de lösen du fått på www.stgchannel.fi. Använd Google Chrome-, Microsoft Edge- eller Firefox webbläddrare. Sidan stöder inte Internet Explorer.
                    <br />
                    <br />
                    Det finska utbudet finns på framsidan. Du kan byta till det svenskspråkiga utbudet i navigeringspanelen.
                    <br />
                    <br />
                    Välj produkten du önskar beställa genom att klicka på varukorgen. Du kan välja samma produkt enbart en gång.
                    <br />
                    <br />
                    Du kan ta bort produkter från varukorgen genom att klick på roskkorgen, vid den produkt du önskar ta bort.
                    <br />
                    <br />
                    När du valt alla de produkter du önskar beställa, tryck på Skicka order - knappen.
                    <br />
                    <br />
                    <strong>
                        <u>
                            Observera att du kan beställa Provlagerböcker endast en gång per period , då du tryckt på Skicka order knappen kan du inte lägga in en ny order!
                        </u>
                    </strong>
                    <br />
                    <br />
                    Du ser de beställda böckerna i orderhistoriken, när du har skickat beställningen.
                    <br />
                    <br />
                    Om du har problem med beställningen ber vi dig kontakta, tilaukset@kirjakeskus.fi
                </h4>


            </div>

        </div>
    </form>

</div>
