.modal {
    color: white;
}

h1 {
    text-align: center;
    padding: 30px;
}

a {
    color: white;
}

    a:hover {
        color: white;
    }

    a:focus {
        color: white;
    }

.control-label {
    font-size: 14px;
    font-weight: bold;
}

.header {
    font-size: 18px;
    text-decoration: underline;
}

.button {
    background-color: #002f40;
    color: white;
    border: 1px solid white;
}

    .button:hover {
        background-color: #002f40;
        color: white;
    }

    .button:focus {
        background-color: #002f40;
        color: white;
    }

.glyphicon-shopping-cart {
    color: black;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color:  #002f40;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    background-color: #002f40;
    color: white;
}
footer {
    background-color: #002f40;
    color: white;
    padding: 25px;
    
}


.dropdown-menu {
    background-color: #002f40;
    padding: 10px;
   
}

#search {
    color: black;
    height: 50px;
}

table, td {
    color: white;
    text-align: center;
    padding: 8px;
    border: 1px solid white;
}

th {
    color: white;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(18, 89, 117);
}
body {
    background-color: rgb(18, 89, 117);
    color: white;
    
    /*padding-top: 48px;
    padding-bottom: 48px;*/
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}