
@{
    ViewBag.Title = "Index";
}

<h2>Lisää asiakas tai rooli</h2>

<ul>
    <li>@Html.ActionLink("Luo asiakas", "CreateUser", "Admin")</li>
    <li>@Html.ActionLink("Luo rooli", "CreateRole", "Admin")</li>
    @*<li>@Html.ActionLink("Assign Role", "AssignRole", "Admin")</li>*@
</ul>

